TYPE=developer
APP_NAME=dark-developer

# ──────────────────────────────────────────────
# GENERAL PROFILE BLOCKCHAIN CONFIGURATION
# ──────────────────────────────────────────────
CHAIN_ID=2025
RPC_URL=http://localhost:8545
MASTER_WALLET_ADDRESS=0xfcefc86bf360607de6054adc39d1038f4b88e720
# Private key of the deployer account (used to deploy dARK contracts)
MASTER_PRIVATE_KEY=0x0139c13d93cb4256cc08b752acba8942f4c84da4c13aeb4e6dabc06255348d0a
MASTER_PUBLIC_KEY=0x450f918aa59048987d2d890036cb3673a1385661e58dc951a71698405ecce9dc8b55eabdd7cee414c2f79d48d2bfd8c9e25f4a0dec65e77bedfc4ddba72a0911
# ──────────────────────────────────────────────
# DEVELOPER PROFILE
# ──────────────────────────────────────────────

## Blockchain submodules

DEVELOPER_BLOCKCHAIN_DARK_ENV_REPOSITORY_URL=https://github.com/LA-Referencia-IOI/dark-env
DEVELOPER_BLOCKCHAIN_DARK_ENV_REPOSITORY_BRANCH=master
DEVELOPER_BLOCKCHAIN_DARK_ENV_SETUP=True
DEVELOPER_BLOCKCHAIN_DARK_ENV_COMMANDS=chmod +x setup.sh|chmod +x scripts/*.sh|./setup.sh|docker compose up -d


DEVELOPER_BLOCKCHAIN_DARK_EXPLORADOR_REPOSITORY_URL=https://github.com/LA-Referencia-IOI/dark-explorer.git
DEVELOPER_BLOCKCHAIN_DARK_EXPLORADOR_REPOSITORY_BRANCH=master
DEVELOPER_BLOCKCHAIN_DARK_EXPLORADOR_SETUP=True
DEVELOPER_BLOCKCHAIN_DARK_EXPLORADOR_COMMANDS=docker compose up -d --build|docker compose up -d

DEVELOPER_BLOCKCHAIN_DARK_DAPP_REPOSITORY_URL=https://github.com/LA-Referencia-IOI/dark-dapp
DEVELOPER_BLOCKCHAIN_DARK_DAPP_REPOSITORY_BRANCH=main
DEVELOPER_BLOCKCHAIN_DARK_DAPP_SETUP=True
DEVELOPER_BLOCKCHAIN_DARK_DAPP_COMMANDS=

## Core Lib
DEVELOPER_CORE_LIB_REPOSITORY_URL=https://github.com/LA-Referencia-IOI/dark-core-lib.git
DEVELOPER_CORE_LIB_REPOSITORY_BRANCH=main
DEVELOPER_CORE_LIB_SETUP=True
DEVELOPER_CORE_LIB_COMMANDS=

## Core Admin API
DEVELOPER_CORE_ADMIN_API_REPOSITORY_URL=https://github.com/LA-Referencia-IOI/dark-core-admin-api.git
DEVELOPER_CORE_ADMIN_API_REPOSITORY_BRANCH=main
DEVELOPER_CORE_ADMIN_API_SETUP=True
DEVELOPER_CORE_ADMIN_API_COMMANDS=

## Store API
DEVELOPER_STORE_API_REPOSITORY_URL=https://github.com/LA-Referencia-IOI/dark-store-api.git
DEVELOPER_STORE_API_REPOSITORY_BRANCH=main
DEVELOPER_STORE_API_SETUP=True
DEVELOPER_STORE_API_COMMANDS=

## Resolver
DEVELOPER_RESOLVER_REPOSITORY_URL=https://github.com/LA-Referencia-IOI/dark-core-resolver-api.git
DEVELOPER_RESOLVER_REPOSITORY_BRANCH=main
DEVELOPER_RESOLVER_SETUP=True
DEVELOPER_RESOLVER_COMMANDS=

## Minter
DEVELOPER_MINTER_REPOSITORY_URL=https://github.com/LA-Referencia-IOI/dark-core-minter-api.git
DEVELOPER_MINTER_REPOSITORY_BRANCH=main
DEVELOPER_MINTER_SETUP=True
DEVELOPER_MINTER_COMMANDS=

## IPFS
DEVELOPER_IPFS_REPOSITORY_URL=https://github.com/LA-Referencia-IOI/dark-ipfs.git
DEVELOPER_IPFS_REPOSITORY_BRANCH=main
DEVELOPER_IPFS_SETUP=True
DEVELOPER_IPFS_COMMANDS=make up

## Dashboard
DEVELOPER_DASHBOARD_REPOSITORY_URL=https://github.com/LA-Referencia-IOI/dashboard-web.git
DEVELOPER_DASHBOARD_REPOSITORY_BRANCH=main
DEVELOPER_DASHBOARD_SETUP=True
DEVELOPER_DASHBOARD_COMMANDS=

# ──────────────────────────────────────────────
# SANDBOX PROFILE
# ──────────────────────────────────────────────

## Blockchain submodules

SANDBOX_BLOCKCHAIN_DARK_ENV_REPOSITORY_URL=
SANDBOX_BLOCKCHAIN_DARK_ENV_REPOSITORY_BRANCH=master
SANDBOX_BLOCKCHAIN_DARK_ENV_SETUP=True
SANDBOX_BLOCKCHAIN_DARK_ENV_COMMANDS=chmod +x setup.sh|chmod +x scripts/*.sh|./setup.sh|docker compose up -d

SANDBOX_BLOCKCHAIN_DARK_DAPP_REPOSITORY_URL=
SANDBOX_BLOCKCHAIN_DARK_DAPP_REPOSITORY_BRANCH=master
SANDBOX_BLOCKCHAIN_DARK_DAPP_SETUP=True
SANDBOX_BLOCKCHAIN_DARK_DAPP_COMMANDS=chmod +x setup.sh|chmod +x scripts/*.sh|./setup.sh|docker compose up -d

SANDBOX_BLOCKCHAIN_DARK_EXPLORADOR_REPOSITORY_URL=
SANDBOX_BLOCKCHAIN_DARK_EXPLORADOR_REPOSITORY_BRANCH=master
SANDBOX_BLOCKCHAIN_DARK_EXPLORADOR_SETUP=True
SANDBOX_BLOCKCHAIN_DARK_EXPLORADOR_COMMANDS=docker compose up -d --build|docker compose up -d

## Core Lib
SANDBOX_CORE_LIB_REPOSITORY_URL=https://github.com/LA-Referencia-IOI/dark-core-lib.git
SANDBOX_CORE_LIB_REPOSITORY_BRANCH=main
SANDBOX_CORE_LIB_SETUP=True
SANDBOX_CORE_LIB_COMMANDS=

## Core Admin API
SANDBOX_CORE_ADMIN_API_REPOSITORY_URL=https://github.com/LA-Referencia-IOI/dark-core-admin-api.git
SANDBOX_CORE_ADMIN_API_REPOSITORY_BRANCH=main
SANDBOX_CORE_ADMIN_API_SETUP=True
SANDBOX_CORE_ADMIN_API_COMMANDS=

## Store API
SANDBOX_STORE_API_REPOSITORY_URL=https://github.com/LA-Referencia-IOI/dark-store-api.git
SANDBOX_STORE_API_REPOSITORY_BRANCH=main
SANDBOX_STORE_API_SETUP=True
SANDBOX_STORE_API_COMMANDS=

## Resolver
SANDBOX_RESOLVER_REPOSITORY_URL=https://github.com/LA-Referencia-IOI/dark-core-resolver-api.git
SANDBOX_RESOLVER_REPOSITORY_BRANCH=main
SANDBOX_RESOLVER_SETUP=True
SANDBOX_RESOLVER_COMMANDS=

## Minter
SANDBOX_MINTER_REPOSITORY_URL=
SANDBOX_MINTER_REPOSITORY_BRANCH=master
SANDBOX_MINTER_SETUP=True
SANDBOX_MINTER_COMMANDS=

## IPFS
SANDBOX_IPFS_REPOSITORY_URL=https://github.com/LA-Referencia-IOI/dark-ipfs.git
SANDBOX_IPFS_REPOSITORY_BRANCH=main
SANDBOX_IPFS_SETUP=True
SANDBOX_IPFS_COMMANDS=make up

## Dashboard
DEVELOPER_DASHBOARD_REPOSITORY_URL=https://github.com/LA-Referencia-IOI/dashboard-web.git
DEVELOPER_DASHBOARD_REPOSITORY_BRANCH=main
DEVELOPER_DASHBOARD_SETUP=True
DEVELOPER_DASHBOARD_COMMANDS=

# ──────────────────────────────────────────────
# PRODUCTION PROFILE
# ──────────────────────────────────────────────

## Blockchain submodules

PRODUCTION_BLOCKCHAIN_DARK_ENV_REPOSITORY_URL=
PRODUCTION_BLOCKCHAIN_DARK_ENV_REPOSITORY_BRANCH=master
PRODUCTION_BLOCKCHAIN_DARK_ENV_SETUP=True
PRODUCTION_BLOCKCHAIN_DARK_ENV_COMMANDS=chmod +x setup.sh|chmod +x scripts/*.sh|./setup.sh|docker compose up -d

PRODUCTION_BLOCKCHAIN_DARK_DAPP_REPOSITORY_URL=
PRODUCTION_BLOCKCHAIN_DARK_DAPP_REPOSITORY_BRANCH=master
PRODUCTION_BLOCKCHAIN_DARK_DAPP_SETUP=True
PRODUCTION_BLOCKCHAIN_DARK_DAPP_COMMANDS=chmod +x setup.sh|chmod +x scripts/*.sh|./setup.sh|docker compose up -d

PRODUCTION_BLOCKCHAIN_DARK_EXPLORADOR_REPOSITORY_URL=
PRODUCTION_BLOCKCHAIN_DARK_EXPLORADOR_REPOSITORY_BRANCH=master
PRODUCTION_BLOCKCHAIN_DARK_EXPLORADOR_SETUP=True
PRODUCTION_BLOCKCHAIN_DARK_EXPLORADOR_COMMANDS=docker compose up -d --build|docker compose up -d

## Core Lib
PRODUCTION_CORE_LIB_REPOSITORY_URL=https://github.com/LA-Referencia-IOI/dark-core-lib.git
PRODUCTION_CORE_LIB_REPOSITORY_BRANCH=main
PRODUCTION_CORE_LIB_SETUP=True
PRODUCTION_CORE_LIB_COMMANDS=

## Core Admin API
PRODUCTION_CORE_ADMIN_API_REPOSITORY_URL=https://github.com/LA-Referencia-IOI/dark-core-admin-api.git
PRODUCTION_CORE_ADMIN_API_REPOSITORY_BRANCH=main
PRODUCTION_CORE_ADMIN_API_SETUP=True
PRODUCTION_CORE_ADMIN_API_COMMANDS=

## Store API
PRODUCTION_STORE_API_REPOSITORY_URL=https://github.com/LA-Referencia-IOI/dark-store-api.git
PRODUCTION_STORE_API_REPOSITORY_BRANCH=main
PRODUCTION_STORE_API_SETUP=True
PRODUCTION_STORE_API_COMMANDS=

## Resolver
PRODUCTION_RESOLVER_REPOSITORY_URL=https://github.com/LA-Referencia-IOI/dark-core-resolver-api.git
PRODUCTION_RESOLVER_REPOSITORY_BRANCH=main
PRODUCTION_RESOLVER_SETUP=True
PRODUCTION_RESOLVER_COMMANDS=

## Minter
PRODUCTION_MINTER_REPOSITORY_URL=
PRODUCTION_MINTER_REPOSITORY_BRANCH=master
PRODUCTION_MINTER_SETUP=True
PRODUCTION_MINTER_COMMANDS=

## IPFS
PRODUCTION_IPFS_REPOSITORY_URL=https://github.com/LA-Referencia-IOI/dark-ipfs.git
PRODUCTION_IPFS_REPOSITORY_BRANCH=main
PRODUCTION_IPFS_SETUP=True
PRODUCTION_IPFS_COMMANDS=make up

## Dashboard
DEVELOPER_DASHBOARD_REPOSITORY_URL=https://github.com/LA-Referencia-IOI/dashboard-web.git
DEVELOPER_DASHBOARD_REPOSITORY_BRANCH=main
DEVELOPER_DASHBOARD_SETUP=True
DEVELOPER_DASHBOARD_COMMANDS=
